/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-breadcrumb1{

	//-------------------------------------------------------
	ul{
		width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	//-------------------------------------------------------
	li{
		font-size: 1.3rem;
		line-height: 2.5rem;
		padding-right: 11px;
		&:first-child{
			position: relative;
			padding-left: 26px;
			&:before {
				content: '';
				background:url("../image/top/top_12.png") no-repeat center;
				width: 21px;
				height: 20px;
				display: block;
				position: absolute;
				top: 0;
				left:0
			}
		}
	}

	//-------------------------------------------------------
	a{
		text-decoration: none;
		color: #fff;
	}
}

/*
------------------------------------------------------------*/
.c-breadcrumb2{

	//-------------------------------------------------------
	li{
		display: inline-block;
		font-size: 1.2rem;
		line-height: 2.1rem;
		letter-spacing: -0.05rem;

		&:last-child{
			a{
				color:#000;
			}
		}
	}

	//-------------------------------------------------------
	a{
		text-decoration: none;
		color: #FCB316;
	}

	//-------------------------------------------------------
	span{
		color: #FCB316;
	}
}