/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footsitemap{
	$root:&;
	background:url('../image/common/common_01.png')no-repeat center;
	padding-top: 178px;
	padding-bottom: 58px;
	margin-top: -68px;
	position: relative;
    z-index: 0;

	//-------------------------------------------------------
	&__title{
		width: 167px;
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: center;
		color: #fff;
		p{
			font-size: 2rem;
			line-height: 2.7rem;
			    letter-spacing: -2px;
		}
		span{
			font-size: 1rem;
			line-height: 2.7rem;
		}
		&:after {
			content: '';
			background:url("../image/top/top_13.png") no-repeat center;
			width: 167px;
			height: 5px;
			display: block;
			position: absolute;
			left: 0;
			    top: 25px;
		}
	}

	//-------------------------------------------------------
	&__block{
		margin-bottom: 24px;
		ul{
			padding-left: 10px;
			padding-top: 12px;
		}
		li{
			font-size: 1.4rem;
			line-height: 2.5rem;
		}
		a{
			color: #fff;
			text-decoration: none;
		}
		&:nth-child(2){
			margin-bottom: 32px;
		}
	}
	.c-breadcrumb1{
		padding-bottom: 56px;
	}

	//-------------------------------------------------------
	&__note{
		    margin-top: 94px;
		li{
			font-size: 1.4rem;
			line-height: 2.5rem;
			padding-bottom: 8px;
		}
		a{
			color: #fff;
			text-decoration: none;
		}
	}

	//-------------------------------------------------------
	&__block2{
		width: 234px;

		p{
			font-size: 1.2rem;
			line-height: 2.7rem;
			color: #fff;
		}

		&:before {
			content: '';
			background:url("../image/top/top_14.png") no-repeat center;
			width: 234px;
			height: 4px;
			display: block;
		}

		&:last-child{
			&:after {
				content: '';
				background:url("../image/top/top_14.png") no-repeat center;
				width: 234px;
				height: 4px;
				margin-top: 1px;
				display: block;
			}
		}

		#{$root}__socy{
			display: flex;
			justify-content: space-between;
			padding: 14px 17px 13px 10px;
			align-items: center;
		}
	}

	//-------------------------------------------------------
	&__inner{
		width: 1004px;
		margin:  auto;
		display: flex;
	}

	//-------------------------------------------------------
	&__col2{
		margin-left: 81px;
		#{$root}__block{
			margin-bottom: 21px;
		}
	}

	//-------------------------------------------------------
	&__col3{
		margin-left: 87px;
		#{$root}__block{
			margin-bottom: 34px;
		}
	}

	//-------------------------------------------------------
	&__col4{
		margin-left: 89px;
    padding-top: 5px;
	}
}

/*
------------------------------------------------------------*/
.c-footcontact{
	padding-top: 16px;
	padding-bottom: 15px;
	background-color: #fff;
	
	//-------------------------------------------------------
	&__left{
		width: 33.4%;
		text-align: center;
		padding-top: 19px;
		    padding-bottom: 24px;
		p{
			font-size: 1.3rem;
			line-height: 2.275rem;
		}
		img{
			margin-top: 5px;
		}
		border-left: 1px solid #00AAAD;
		border-right: 1px solid #00AAAD;
	}

	//-------------------------------------------------------
	&__right{
		border-right: 1px solid #00AAAD;
		flex:1;
     	padding-top: 17px;
		position: relative;
		p{
			font-size: 1.3rem;
			line-height: 2.5rem;
			padding-left: 78px;
		}
	}

	//-------------------------------------------------------
	&__fle{
		display: flex;
	    margin-left: -2px;
	  	margin-right: 1px;


	}

	//-------------------------------------------------------
	&__abs{
		position: absolute;
	       right: 7.7%;
    top: 26px;
	}
}

/*
------------------------------------------------------------*/
.c-footerimage{
	position: relative;
	z-index: -1;

	//-------------------------------------------------------
	&__abs{
		position: absolute;
		bottom: 12px;
		right: 20%;
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: #fff;
	}
}