/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	min-width: 1500px;
}

/*
------------------------------------------------------------*/
.l-container{
	width: 1500px;
	margin: 0 auto;
}

/*
------------------------------------------------------------*/
.l-main{
	width: 1000px;
	margin: 0 auto;
}

/*
------------------------------------------------------------*/
.l-content{
	margin-left: 283px;
	width: 717px;
}