/*------------------------------------------------------------
flow
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-pageflow{
	padding-top: 42px;
	padding-bottom: 79px;
	margin-bottom: 6px;
	background:url("../image/flow/flowmain.png") no-repeat center;
	background-size: cover;
}

/*
------------------------------------------------------------*/
.p-flow1{

	//-------------------------------------------------------
	.c-title3{
		margin-top: 58px;
		margin-bottom: 17px;
	}

	//-------------------------------------------------------
	&__img{
		margin-bottom: 34px;
	}
}

/*
------------------------------------------------------------*/
.c-flow1{

	//-------------------------------------------------------
	&__txt{
		p{
			font-size: 1.4rem;
			line-height: 2.2rem;
			text-align: center;
			padding-left: 11px;
			margin-bottom: 22px;
		}
	}

	//-------------------------------------------------------
	&__img{
		margin-bottom: 34px;
	}
}

/*
------------------------------------------------------------*/
.p-flow2{
    margin-top: 56px;

    //-------------------------------------------------------
    .c-imgttl{
    	margin-right: 48px;
    }
}


/*
------------------------------------------------------------*/
.c-flow2{
	margin-bottom: 87px;

	//-------------------------------------------------------
	&__title{
		margin-bottom: 1px;
	}
}

/*
------------------------------------------------------------*/
.p-flow2out1{

	//-------------------------------------------------------
	.c-imgtext2{
		margin-left: -2px;
	}
}


/*
------------------------------------------------------------*/
.p-flow2out2{

	//-------------------------------------------------------
	.c-imgttl{
		margin-right: 36px;
	}

	//-------------------------------------------------------
	.c-flow2{
		margin-bottom: 42px;
	}

}

/*
------------------------------------------------------------*/
.p-flow2out3{

	//-------------------------------------------------------
	.c-imgttl{
		margin-right: 9px;
	}

	//-------------------------------------------------------
	.c-imgtext2{
		margin-left: 8px;

		&__img{
			margin-top: -30px;
			    margin-right: 6px;
		}

		&__text{
			padding-top: 45px;
			padding-right: 8px;

			span{
				letter-spacing: 1.7rem;
			}
		}
	}

	//-------------------------------------------------------
	.c-flow2{
		margin-bottom: 84px;
	}
}

/*
------------------------------------------------------------*/
.p-flow2out4{

	//-------------------------------------------------------
	.c-imgttl{
      margin-right: 66px;
	}

	//-------------------------------------------------------
	.c-imgtext2{
		margin-right: -13px;
		
		&__text{
			padding-top: 38px;

			span{
				letter-spacing: 0.1rem;
			}
		}
	}

	//-------------------------------------------------------
	.c-flow2{
		    margin-bottom: 59px;
	}
}


/*
------------------------------------------------------------*/
.p-flow2out5{

	//-------------------------------------------------------
	.c-imgttl{
		margin-right: 17px;
	}

	//-------------------------------------------------------
	.c-imgtext2{
		margin-left: -4px;

		&__img{
			margin-top: -34px;
			margin-right: 17px;
		}

		&__text{
			p{
				letter-spacing: 0.08rem;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-flow3{
	margin-bottom: 109px;

	//-------------------------------------------------------
	&__text{

		p{
			font-size: 1.4rem;
			line-height: 2.45rem;
			margin-bottom: 25px;
		}

		span{
			letter-spacing: 0.04rem;
		}
	}

	//-------------------------------------------------------
	&__imgttl{
		margin-bottom: 29px;
	}
}

/*
------------------------------------------------------------*/
.p-flow3{
	margin-top: 142px;
}

/*
------------------------------------------------------------*/
.p-flowcontact{
	padding-top: 106px;

	//-------------------------------------------------------
	.c-contact{
		padding-left: 10px;
  		padding-right: 21px;

		&__con{
			margin-top: 0;
		}
	}
}