/*------------------------------------------------------------
Q&A
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-pageQA{
	background:url("../image/Q&A/QA_main.png") no-repeat center;
	height: 2298px;
    padding-top: 42px;
    margin-bottom: 6px;

    //-------------------------------------------------------
	.c-title3{
		margin-top: 57px;
		margin-bottom: 16px;
		.c-subtitle{
			margin-left: 1px;
		}
	}

	//-------------------------------------------------------
	.c-contact{
		padding-left: 10px;
		&__con{
			padding-right: 19px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-QA{
	$root:&;
	position: relative;

	//-------------------------------------------------------
	&:before{
		content: '';
		background: url("../image/Q&A/QA_bor.png") no-repeat;
		width: 717px;
		height: 20px;
		position: absolute;
		top: -10px;
		left:0;
	}

	//-------------------------------------------------------
	&.active{
		background-color: #FFF4E3;
		transition:  background-color 1s;
	}

	//-------------------------------------------------------
	&__title{
		display: flex;
		position: relative;
		padding-left: 49px;
		padding-bottom: 33px;
		padding-top: 44px;
		cursor: pointer;

		h6{
			color: #00AAAD;
			font-weight: normal;
		}

		p{
		    font-size: 2.1rem;
		    line-height: 3.675rem;
		    padding-left: 20px;
		}
	}

	//-------------------------------------------------------
	&__content{
		display: none;
		margin-top: -7px;
	}

	//-------------------------------------------------------
	&__ans{
		display: flex;
		padding-left: 50px;
		padding-bottom: 70px;

    	//---------------------------------------------------
		h6{
			color: #FCB316;
		}

		//---------------------------------------------------
		div{
			padding-top: 12px;
		}

		//---------------------------------------------------
		p{
			font-size: 1.4rem;
			line-height: 2.45rem;
			padding-left: 20px;
			padding-right: 72px;
			padding-bottom: 2px;
		}

		//---------------------------------------------------
		span{
		    letter-spacing: -0.096rem;
		    line-height: 2.7rem;
		}

		//---------------------------------------------------
		.c-ltspace{
			letter-spacing: -0.029rem;
		}
	}

	//-------------------------------------------------------
	h6{
		font-size: 3.2rem;
		line-height: 3.9rem;
		font-weight: normal;
	}

	//-------------------------------------------------------
	&:last-child{
		position: relative;

		&:after {
			content: '';
			background:url("../image/Q&A/QA_bor.png") no-repeat;
			width: 717px;
			height: 20px;
			position: absolute;
			bottom: -10px;
			left: 0;
		}

	}

	//-------------------------------------------------------
	&:nth-of-type(n+3){
		#{$root}__title{
			padding-top: 45px;
		}
	}
}

/*
------------------------------------------------------------*/
.p-QAcordion{
	margin-bottom: 325px;
}