/*------------------------------------------------------------
top
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-pagetop{
	background:url("../image/top/top1.png") no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 0;
}

/*
------------------------------------------------------------*/
.p-top1{
	padding-top: 54px;
}

/*
------------------------------------------------------------*/
.c-top1{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 26px;
}

/*
------------------------------------------------------------*/
.p-top2{
	padding-top: 72px;
}

/*
------------------------------------------------------------*/
.p-top2con2{
	margin-top: 139px;
}

/*
------------------------------------------------------------*/
.c-top2{
	text-align: center;

	//-------------------------------------------------------
	&__txt{
		padding-top: 26px;
    	margin-left: -38px;

		p{
			font-size: 1.4rem;
			line-height: 2.2rem;
		}
	}
}

/*
------------------------------------------------------------*/
.c-top2p2{
	position: relative;
	margin-left: -86px;

	//-------------------------------------------------------
	&__abs{
		position: absolute;
	    top: -174px;
    	right: 2px;
	}
}

/*
------------------------------------------------------------*/
.c-top2fx{
	$root:&;
	display: flex;

	//-------------------------------------------------------
	&__txt{
		padding-right: 28px;
		p{
			font-size: 1.4rem;
			line-height: 2.45rem;
			margin-bottom: 25px;

			&:last-child{
				letter-spacing: 0.09rem;
			}
		}
	}

	//-------------------------------------------------------
	&__circle{
		position: relative;
	}

	//-------------------------------------------------------
	&__con{
		&:last-child{
				margin-left: 39px;
		}
	}

	//-------------------------------------------------------
	&--ve2{
		justify-content: space-between;

		#{$root}__txt{
			padding-right: 0;

			p:last-child{
				letter-spacing: -1px;
			}
		}
		#{$root}__con{

			&:last-child{
				    padding-top: 87px;
   					margin-right: 6px;
   					margin-left: 0;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.p-top2about{

	//-------------------------------------------------------
	.c-circle2{
		position: absolute;
		top: -23%;
		right: 0;
	}

	//-------------------------------------------------------
	.c-sheep{
		position: absolute;
		right: 3%;
    	bottom: -17%;
	}

	//-------------------------------------------------------
	.c-title4{
		margin-bottom: 19px;
    	margin-top: -17px;

	}
}

/*
------------------------------------------------------------*/
.p-top2con3{
	margin-top: 104px;

	//-------------------------------------------------------
	.c-circle2{
		position: absolute;
	    bottom: -26%;
		left: 65px;

	}

	//-------------------------------------------------------
	.c-sheep{
		position: absolute;
		top: -19px;
    	right: -7px;
	}

	//-------------------------------------------------------
	.c-title4{
	    margin-top: 13px;
	    margin-bottom: 28px;
	}
}

/*
------------------------------------------------------------*/
.p-top3{
	margin-top: 135px;

	//-------------------------------------------------------
	.c-title3{
    	margin-bottom: 4px;
    }

    //-------------------------------------------------------
    .c-title4{
    	letter-spacing: -1px;
    	margin-bottom: 65px;
    }

    //-------------------------------------------------------
    .c-list1{
    	margin-left: 1px;

    	.c-sheep{
		    position: absolute;
		    left: 60px;
		    bottom: 3px;
    	}
    }
}

/*
------------------------------------------------------------*/
.p-top4{
	margin-top: 188px;

	//-------------------------------------------------------
	&__in{
		margin-top: 27px;
		.c-imgtext{
			margin-bottom: 32px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	//-------------------------------------------------------
	.c-title4{
		margin-top: 4px;
		margin-bottom: 13px;
	}

	//-------------------------------------------------------
	.c-title5{
		margin-bottom: 5px;
	}
}

/*
------------------------------------------------------------*/
.c-top4{

	//-------------------------------------------------------
	&__txt1{
		font-size: 1.4rem;
		line-height: 2.45rem;
	}

	//-------------------------------------------------------
	&__sheep{
		padding-left: 121px;
	}
}

/*
------------------------------------------------------------*/
.p-top5{
	margin-top: 200px;
}

/*
------------------------------------------------------------*/
.c-top5{
	display: flex;
	justify-content: flex-end;
}

/*
------------------------------------------------------------*/
.p-contact{
	margin-top: 49px;
	padding-bottom: 86px;
	
	//-------------------------------------------------------
	.c-title4{
		display: flex;
		justify-content: flex-end;
		margin-right: 217px;
    	margin-top: 5px;
	}
}

/*
------------------------------------------------------------*/
.c-contact{
	padding-top: 22px;
    padding-left: 14px;
    padding-right: 18px;

	//-------------------------------------------------------
	&__txt{
		text-align: center;

		p{
			font-size: 3rem;
			line-height: 4.4rem;
		}

		.c-sdt{
			font-size: 4.7rem;
		    line-height: 7.2rem;
		    letter-spacing: -0.06rem;
		    margin: 14px 0 3px;
		    text-align: left;
		    padding-left: 25px;
		}

		span{
			font-size: 2.2rem;
			letter-spacing: 2px;
		}
	}

	//-------------------------------------------------------
	&__con{
		display: flex;
		margin-top: 88px;
    	justify-content: space-between;
    	padding-right: 16px;
	}

	//-------------------------------------------------------
	&__img{
		padding-top: 16px;
	}
}

/*
------------------------------------------------------------*/
.p-top6{
	margin-top: 237px;
	
	//-------------------------------------------------------
	.c-title3{
		margin-bottom: 56px;
		
		.c-subtitle{
			margin-left: 1px;
		}
	}
}

/*
------------------------------------------------------------*/
.p-top6in1{
	padding-left: 3px;
}

/*
------------------------------------------------------------*/
.c-top6{
	position: relative;
	
	&__abs{
		position: absolute;
		top: -23px;
  		left: 44%;
	}
}