/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1{

	//-------------------------------------------------------
	p{
		font-size: 1.4rem;
		line-height: 5.712rem;
		color: #000;
    	text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
	}
}
.c-title2{

	//-------------------------------------------------------
	p{
		font-size: 4.3rem;
		line-height: 5.712rem;
		letter-spacing: -1px;
	}

}

.c-title3{
	display: flex;
	align-items: baseline;

	//-------------------------------------------------------
	p{
		font-size: 4.51rem;
		line-height: 7.892rem;
		letter-spacing: -4px;
	}

	//-------------------------------------------------------
	.c-subtitle{
		font-size: 1.8rem;
		line-height: 3.15rem;
		    margin-left: 12px;
    letter-spacing: 0.06rem;
	}
}

.c-title4{

	//-------------------------------------------------------
	p{
		font-size: 3rem;
		line-height: 4.4rem;
	}
}

.c-title5{
	display: flex;

	//-------------------------------------------------------
	p{
		font-size: 2.4rem;
		line-height: 3.9rem;
		    margin-right: 8px;
	}

	//-------------------------------------------------------
	&__subtitle{
		font-size: 1.4rem;
		line-height: 3.9rem;
	}
}