/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-form1{

	//-------------------------------------------------------
	table,input,textarea{
		width: 100%;
	}

	//-------------------------------------------------------
	th,td{
		width: 100%;
		display: block;
	}

	//-------------------------------------------------------
	th{
		font-size: 1.6rem;
		text-align: left;
		    line-height: 2.8rem;
	}

	//-------------------------------------------------------
	td{
		padding-bottom: 14px;
    	padding-top: 3px;
	}

	//-------------------------------------------------------
	span{
		font-size: 1.2rem;
		line-height: 2.1rem;
	}

	//-------------------------------------------------------
	input{
		min-height: 38px;
	}

	//-------------------------------------------------------
	textarea{
		resize: none;
	    min-height: 190px;
	}

	//-------------------------------------------------------
	input,textarea{
		box-sizing: border-box;
		font-size: 1.2rem;
		line-height: 2.1rem;
		border:1px solid #999;
		border-radius: 5px;
	}

	//-------------------------------------------------------
	.checkin{
		display: block;
		position: relative;
		padding-left: 15px;
		font-size: 1.6rem;
		line-height: 2.8rem;
		margin-right: 17px;

		&:hover{
			input ~ .checkmark{
				background-color: #ccc;
			}
		}

		input{
			opacity: 0;
			position: absolute;
			cursor: pointer;
			width: auto;
			height: auto;
			min-height: unset;
			&:checked{
				~ .checkmark{
					background-color:  #ccc;
					&:after {
						content: '';
						display: block;
					}
				}
			}
		}

		.checkmark{
			position: absolute;
			top: 9px;
			left:0;
			height: 11px;
			width: 11px;
			background-color: #fff;
			border: 1px solid #000;
			&:after {
				content: '';
				position: absolute;
				display: none;
				width: 2px;
    			height: 6px;
				border:solid #fff;
				border-width: 0 3px  3px 0;
				transform: rotate(45deg);
				left: 2px;
    			top: 0;
			}
		}
	}

	//-------------------------------------------------------
	.c-radiobtn{
		display: flex;
		padding-bottom: 24px;
		padding-left: 3px;
		padding-top: 1px;
	}

	//-------------------------------------------------------
	.c-formbtn{
		display: flex;
		padding: 0 1px;
		justify-content: space-between;
		margin-top: 4px;
	}

	//-------------------------------------------------------
	button{
		    border-style: none;
		    background-color: #00AAAD;
		    color: #fff;
		    padding: 5px 6px;
		    border-radius: 5px;
		    width: 49%;
		    font-size: 1.6rem;
		    line-height: 2.8rem;
	}

	//-------------------------------------------------------
	tr{

		&:nth-child(5){
			td{
				padding-top: 1px;
			}
		}
		
		&:nth-child(6){
			td{
				padding-bottom: 8px;
			}
		}
	}
}