/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgtext{
	$root:&;
	display: flex;

	//-------------------------------------------------------
	&__img{
		width: 255px;
		margin-right: 18px;
		padding-top: 28px;
	}

	//-------------------------------------------------------
	&__text{
		flex:1;
	}

	//-------------------------------------------------------
	&--bet{

		#{$root}__text{
			flex:0;
		}

		#{$root}__img{
			flex:0;
			margin-left: 77px;
   			margin-right: 46px;
		}
	}
}

.c-imgtext2{
	$root:&;
	display: flex;

	//-------------------------------------------------------
	&__img{
		width: 318px;
		margin-right: 15px;
		margin-top: -37px;
	}

	//-------------------------------------------------------
	&__text{
		flex:1;
		padding-top: 39px;

		p{
			font-size: 1.4rem;
			line-height: 2.45rem;

		}

		span{

			&:nth-child(1){
				letter-spacing: 1rem;
			}
			&:nth-child(2){
				letter-spacing: 0.05rem;
			}
		}
	}

	//-------------------------------------------------------
	&--reverse{
		flex-direction: row-reverse;

		#{$root}__img{
			margin-right: 0px;
			margin-left: 1px;
			margin-top: -26px;
		}

		#{$root}__text--2{
			margin-right: -18px;
		}
		
		#{$root}__text{
			padding-left: 82px;
   			padding-top: 16px;
		}
	}
}