/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1{
	display: flex;
	flex-wrap:wrap;

	//-------------------------------------------------------
	&__img{
		width: 233px;
		margin-left: 8px;
		margin-bottom: 8px;

		&:nth-child(3n+1) {
			margin-left: 0;
		}
		
		&:last-child{
			position: relative;
		}
	}
}

.c-list2{
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;

	//-------------------------------------------------------
	&__qa{
		margin-bottom: 37px;
	}

	//-------------------------------------------------------
	&__img{
		width: 222px;
	}

	//-------------------------------------------------------
	&__info{
		text-align: center;
	}

	//-------------------------------------------------------
	h6{
		font-size: 3.6rem;
		line-height: 3.9rem;
		font-weight: normal;
		margin-top: 15px;
		margin-bottom: 17px;

	}

	//-------------------------------------------------------
	p{
		font-size: 1.8rem;
		line-height: 3.15rem;
	}
}
