/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table{

	//-------------------------------------------------------
	table{
		border-collapse: collapse;
	}

	//-------------------------------------------------------
	td{
		width: 234px;
		height: 155px;
		border: 1px solid #ccc;
		background:#ff9;
	}
}