/*------------------------------------------------------------
slide
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-slide{
	width: 1318px;
	margin:0 78px;
}
/*
------------------------------------------------------------*/
.c-slide1{

	//-------------------------------------------------------
	img{
		width: 100%;
	}

	//-------------------------------------------------------
	.slick-dots{
		position: absolute;
		top: -22px;
    	right: 30.3%;

    	//---------------------------------------------------
		li{
			display: inline-flex;
			vertical-align: top;
			margin-left: 9px;

			&.slick-active{
				button{
					background:#00AAAD;
				}
			}
		}

		//---------------------------------------------------
		button{
			font-size: 0;
			padding: 0;
			border: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background:#FCB316;
			cursor: pointer;
		}
	}
}