/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-circle{
	overflow: hidden;
    width: 347px;
    height: 347px;
    border: 15px solid #66C8CC;
    border-radius: 50%;
    background:url("../image/top/top_03.png") no-repeat center;

    //-------------------------------------------------------
	&--cl2{
		border-color: #B3B4CE;
		background:url("../image/top/top_04.png") no-repeat center;
	}
}

/*
------------------------------------------------------------*/
.c-circle2{
	width: 170px;
	height: 170px;
	border: 16px solid #66C8CC;
	border-radius: 50%;
    padding: 38px 22px;
    background:#fff;

    //-------------------------------------------------------
	p{
		font-size: 1.2rem;
		&:last-child{
			font-size: 3.4rem;
			letter-spacing: -2px;
   		 margin-top: -6px;
		}
	}

	//-------------------------------------------------------
	&--cl2{
		border-color: #B3B4CE;
		    padding: 37px 10px;
	}
}

/*
------------------------------------------------------------*/
.c-sheep{
	width: 116px;
	height: 134px;
	background:url('../image/top/sheepGR.png')no-repeat;
	display: flex;
	cursor: pointer;

	//-------------------------------------------------------
	span{
		font-size: 1.371rem;
		line-height: 2.178rem;
	    margin: auto;
	    font-weight: bold;
	}

	//-------------------------------------------------------
	&--cl2{
		background:url('../image/top/sheepPR.png')no-repeat;
	}
}

/*
------------------------------------------------------------*/
.c-textbor{
	padding-bottom: 8px;

	//-------------------------------------------------------
	p{
		font-size: 1.4rem;
		line-height: 2.45rem;
		&:first-child{
			    padding-left: 5px;
		}
	}

	//-------------------------------------------------------
	&:before {
		content: '';
		width: 291px;
		height: 9px;
		background:url("../image/top/imgtext1.png") no-repeat;
		display: block;
		margin-bottom: 10px;
	}

	//-------------------------------------------------------
	&--af2:before{
		background:url("../image/top/imgtext2.png") no-repeat;
	}
}

/*
------------------------------------------------------------*/
.c-blog{
	width: 502px;
	background:#D6EEEE;
	padding: 40px 10px 10px;
	border-radius: 15px;
	position: relative;

	//-------------------------------------------------------
	&__title{
		padding-left: 30px;
    	padding-bottom: 21px;

		p{
			font-size: 4.51rem;
			line-height: 3.9rem;
		}

		span{
			font-weight: bold;
			font-size: 1.8rem;
			color:#00AAAD;
		}
	}

	//-------------------------------------------------------
	&__con{
		background-color: #fff;
		border-radius: 15px;
		padding: 20px 28px 35px 36px;

		h6{
			font-weight: normal;
			font-size: 2.1rem;
			line-height: 3.675rem;
		}

		p{
			font-size: 1.4rem;
			line-height: 2.45rem;
			padding: 13px 0 13px;
		}

		span{
			letter-spacing: -0.01rem;
		}
	}

	//-------------------------------------------------------
	&__abs{
		position: absolute;
		right: 29px;
  		top: -26px;
	}
}

/*
------------------------------------------------------------*/
.c-imgcontact{
	$root:&;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: #00aaad;
	display: flex;
	justify-content: center;
	align-items: center;

	//-------------------------------------------------------
	&__title{
		font-size: 1.568rem;
		line-height: 2.744rem;
		text-align: center;
		padding-top: 19px;
  		padding-bottom: 5px;
		&:after {
			content: '';
			background:url("../image/top/top_11-2.png") no-repeat center;
			width: 46px;
			height: 29px;
			display: block;
			margin: 5px auto 8px;
		}
	}

	//-------------------------------------------------------
	b{
		font-size: 1.5rem;
		line-height: 1.8rem;
		text-align: center;
		display: block;
	}

	//-------------------------------------------------------
	a{
		display: block;
		text-align: center;
		text-decoration: none;
		color: #fff;
	}

	//-------------------------------------------------------
	&--2{
		width: 107px;
		height: 107px;
		padding: 18px;

		#{$root}__title{
			font-size: 1.2rem;
			line-height: 2.1rem;
			padding: 0;
			&:after {
				background:url("../image/common/common_06.png") no-repeat center;
				width: 37px;
				height: 25px;
				margin:  0 auto;
			}
		}

		b{

			font-size: 1.1rem;
		    line-height: 1.925rem;
		    padding-top: 8px;
		    display: block;
		}
	}
}


/*
------------------------------------------------------------*/
.c-menu{
	background:url("../image/common/common_04.png") no-repeat center;
	background-size: cover;
	width: 216px;
	padding-top: 53px;
	padding-bottom: 25px;
	padding-left: 31px;
	position: relative;

	//-------------------------------------------------------
	&__ad{
		font-size: 1.4rem;
		line-height: 2.45rem;
		padding-top: 29px;
	    padding-bottom: 39px;
	    padding-left: 8px;
	}

	//-------------------------------------------------------
	&__ul{
		display: flex;
		padding-bottom: 161px;
		padding-right: 31px;
    	padding-left: 5px;
		justify-content: space-between;

		li{
			font-size: 1.3rem;
			line-height: 22.75px;
			writing-mode:vertical-lr;
			text-orientation: upright;
		}

		a{
			text-decoration: none;
			color:#000;
		}
	}

	//-------------------------------------------------------
	&__bot{
		padding:  0 4px;

		p{
			padding-bottom: 8px;
		}

		a{
			font-size: 1.2rem;
			line-height: 2.1rem;
			text-decoration: none;
			color: #000;
		}
	}

	//-------------------------------------------------------
	.c-logo{

		p{
			padding-left: 2px;
			margin-bottom: 3px;
		}

		img{
			margin-left: 4px;
		}
	}

	//-------------------------------------------------------
	&__abs{
		position: absolute;
		top: 2px;
    	right: -33px;
    }

	//-------------------------------------------------------
	&__home{
		width: 57px;
		height: 66px;
		padding: 22px 8px 0px;
		background:url("../image/common/common_05.png") no-repeat center;

		a{
			display: block;
			font-size: 1.3rem;
			line-height: 1.8rem;
			color: #fff;
			text-decoration: none;
			font-weight: bold;
			letter-spacing: -1px;
		}
	}

	//-------------------------------------------------------
	.c-menuQA{
	    word-break: break-all;
	    writing-mode: horizontal-tb;
	    width: 10px;
	    line-height: 1.2rem;
	}
}

/*
------------------------------------------------------------*/
.c-logo{

	//-------------------------------------------------------
	p{
		font-size: 1.3rem;
		line-height: 2.275rem;
	}

	//-------------------------------------------------------
	h6{
		font-weight: normal;
		font-size: 4.795rem;
		line-height: 83.91px;
	}
}


/*
------------------------------------------------------------*/
.c-fixed1{
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	left: 0;

	//-------------------------------------------------------
	&__mor{
		position: relative;
	}

	//-------------------------------------------------------
	&__menu{
		position: absolute;
		left: 10px;
	}

	//-------------------------------------------------------
	&__icon{
		position: absolute;
		right: -11.5%;
   		top: 45px;
	}
}

.c-imgttl{
	display: flex;
	justify-content: flex-end;
	position: relative;

	//-------------------------------------------------------
	div{

		&:last-child{
			padding: 30px 0 17px;
			margin-left: 30px;
		}
	}

	//-------------------------------------------------------
	&--ml2{
		div:last-child{
			margin-left: 18px;
		}
	}
}